@mixin mobile {
	@media screen and (max-width: 425px) {
		@content;
	}
}
.Home {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 150px;
	@include mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}
	&__item1 {
		order: 1;
		h1 {
			@include mobile {
				font-size: 40px !important;
			}
		}
		p {
			@include mobile {
				width: 100%;
			}
		}
		@include mobile {
			order: 2;
			width: 320px !important;
			margin-right: 90px;
		}
	}
	&__item2 {
		order: 2;
		@include mobile {
			order: 1;
			position: relative;
			left: 50px;
		}
	}
	&__text {
		font-size: 16px;
		width: 550px;
		@include mobile {
			font-size: 12px;
			width: 200px;
		}
	}
	&__button {
		margin-top: 56px;
		background-color: #3f8e00;
		width: 254px;
		height: 63px;
		border-radius: 6px;
		border: 3px solid #62ba1b;
		-webkit-box-shadow: 0px 8px 30px -14px rgba(98, 186, 27, 1);
		-moz-box-shadow: 0px 8px 30px -14px rgba(98, 186, 27, 1);
		box-shadow: 0px 8px 30px -14px rgba(98, 186, 27, 0.5);
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: Uppercase;
	}
	&__button:hover {
		background-color: black;
		color: #3f8e00;
	}
}
.Worked {
	margin-top: 80px;
	font-size: 17px;
	width: 100%;
	display: flex;
	flex-direction: column;
	width: 74%;
	margin-left: 150px;
	@include mobile {
		margin-left: 60px;
	}
}
.Box {
	display: flex;
	flex-wrap: wrap;
	@include mobile {
		margin-bottom: 50px;
	}
	&__item {
		height: 61px;
		border: 1px solid #1b1b1b;
		width: 68px;
		border-radius: 6px;
		margin-bottom: 100px;

		@include mobile {
			width: 68px;
			height: 68px;
			padding: 5px;
			margin: 0;
		}
	}
}
