@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap");
body {
	color: white;
	background-color: #080808;
}
* {
	font-family: "IBM Plex Mono", monospace;
}

nav {
	font-size: 17px;
	font-weight: 400;
	display: flex;
	width: 100%;
	background-color: #1b1b1b;
	height: 70px;
	justify-content: center;
}
ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 40px;
}
li:hover {
	color: #3f8e00;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1b1b1b;
	height: 70px;
}
html {
	scroll-behavior: smooth;
}
